:root {
    --primary-color-1: rgb(166,99,41);
    --primary-color-2: rgb(140,57,8);
    --secondary-color: rgb(140,111,35);
    --tertiary: rgb(191,105,137);
    --background-color: rgb(233,239,242);
    --darkening: linear-gradient(rgb(0,0,0,0.35),rgb(0,0,0,0.35));
}

/* custom fonts */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-optical-sizing: auto;
    font-display: swap;
    src: url('fonts/Inter.ttf');
}

/* general styles */
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter';
    background-color: var(--background-color);
    overflow-x: hidden; /* hide horizontal scrollbar */
}
button {
    color: white;
    padding: 10px 7px; /* top bottom | left right */
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}
#login:hover {
    color: black;
    background-color: white;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}
#signup:hover {
    background-color: var(--primary-color-1);
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

/* fullscreen banner on homepage */
.intro {
    height: 100vh;
    width: 100%;
    background-image: var(--darkening), url("images/intro.webp");
    background-size: cover;
    position: relative;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.top-bar {
    position: absolute;
    margin-top: 5px;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
}
.top-bar .left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
.top-bar .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.top-bar * {
    margin: 0px 5px;
}
.bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
}
.bottom-bar .element {
    flex-grow: 1;
    transition: flex-grow 0.25s ease-in-out;
    color: white;
    text-align: center;
    text-decoration: none;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}
.bottom-bar .element:hover {
    flex-grow: 3;
}

/* halfscreen banner on other pages */
.banner {
    height: 50vh;
    width: 100%;
    background-size: cover;
    position: relative;
}
.banner#cuisine { background-image: var(--darkening), url("images/cuisine/banner.jpg"); }
.banner#cul-arc { background-image: var(--darkening), url("images/cul-arc/"); }
.banner#geo-his { background-image: var(--darkening), url("images/geo-his/"); }
.banner#experience { background-image: var(--darkening), url("images/experience/"); }
.banner#credits { background-image: var(--darkening), url("images/credits/"); }
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

/* carousel */
/* carousel items */
.carousel-items {
    display: flex;
    height: 50vh;
    width: 100%;
}
.carousel-items .element {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    transition: transform 0.3s ease-in-out;
}
.carousel-items .element .img {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
}
.carousel-items .element .img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 5px;
}
.carousel-items .element p {
    flex: 0 0 auto;
    text-align: center;
}
.carousel-items .element:hover {
    transform: scale(1.1);
}
/* carousel explainers */
.carousel-explainers .element {
    margin: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    opacity: 0.0;
    transition: opacity 0.3s ease;
}
.carousel-explainers .element.active {
    opacity: 1.0;
}
.carousel-explainers .element .page {
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.carousel-explainers .element .page img {
    max-width: 25%;
    margin-right: 10px;
    height: auto;
    border-radius: 5px;
}
.carousel-explainers .element .page p {
    flex-grow: 1;
    margin: 0;
}